html{
  font-size: 30px;
}
html{
  font-size: 30px;
}

.rect{
  width: 200px;
  height: 200px;
  background-color: gray;
  user-select: none;
  text-align: center;
}

.page{
  background-color: lightgray;
  
}