html{
  font-size: 30px;
}
html{
  font-size: 30px;
}

.rect{
  width: 200px;
  height: 200px;
  background-color: gray;
  user-select: none;
  text-align: center;
}

.page{
  background-color: lightgray;
}


ul{
  text-align: center;
  text-decoration: none;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
li{
  border: 1px solid black;
  
  list-style: none;
  grid-template-columns: 20% 20% 20% 20%
}

li a{
  text-decoration: none;
}
footer{
  background-color: lightskyblue;
}

