.header{
    
    background-image: url("./pics/background6.jpg"); 
    background-color: lightblue;
    height: 300px;
    text-align: left;
    padding:80px;
    padding-top: 100px;
    color: rgb(5, 105, 64);
}
    
   .navBar{
       text-align:center;
       position: relative;
       bottom: 40px;
       right:160px;
   }
    

h1,h3{
    margin-left: 150px;
}

h1{
    font-family: serif;

}
h3{
    font-family: cursive;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.header3{
    position: relative;
    top: 150px;
    right:160px;
}
.header4{
    position: relative;
    top: 150px;
}
.specials1{
    height:340px;
    width:500px;
    background-image: url("./pics/travel-img.jpg");
    background-color: rgb(128, 159, 241);
    margin:10px;
    text-align: center;
    border-radius: 5px;
    color:white;
    border: 1px dotted lightcyan
    
}

.specials2{
    height:340px;
    width:270px;
    background-color: rgb(6, 136, 196);
    margin:10px;
    text-align: center;
    border-radius: 5px;
    color:white;
    

}

.specials3{
    height:340px;
    width:270px;
    background-color:rgb(122, 190, 128) ;
    margin:10px;
    text-align: center;
    border-radius: 5px;
    color:white;

    
}
img{
    border-radius: 20px;
}
.header2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:180px;
}



.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.item{
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .item {
      
     
        width: 50%
    }
}

@media only screen and (max-width: 360px) {
    .item {
      
        width: 100%
    }

}