<h1>Product</h1>



   
        <div>
            <img class="moveToHomePicture" src='img/{{product.img}}' alt='some flower' />
            <div>
                Product: {{product.Name}}
            </div>
            <div>
                Price: {{product.Price}}
            </div>
        </div>
    

    