<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express</title>
    <link rel='stylesheet' href="style.css">
</head>

<body>
    <header>
        <a class='linkHeader' href='/'>Home</div>
         <a class='linkHeader' href='/lipsticks'>Lipsticks</a>
         <a class="linkHeader" href='/foundations'>Foundations</a>
         <a class="linkHeader" href='/eyeshadows'>Eyeshadows</a>
         <h1>Hello to Masha's Makeup</h1>
    </header>
    
    {{{body}}}
    <footer>
        All rights reserved to Masha Alarcon
    </footer>
    <script src='js/functions.js' ></script>
</body>


</html>