.buttonsWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttonsWrapper>button{
    background-color: teal;
    color: white;
    width: fit-content;
    font-size: 2rem;
    
    border-radius: 10px;
    text-align: center;
}

img{
    transition: all 1s;
    position: relative;
    bottom:0px
}