.button{
    background-color: var(--strong);
    color:var(--white);
    border:none;
    border-radius: var(--sharpRound) var(--sharpRound) var(--sharpRound) 0px;
    padding: 0.3rem .85rem;
}
