:root{
  --bakg:#f6f7fc;
  --white:white;
  --strong:#17171b;
  --lightGray:#c4c6d3;

  --softRound:1.5rem;
  --sharpRound:1rem;

  --fontBig: 1.4rem;
  --fontSmall: 0.6rem;

}

body, html{
  background-color: var(--bakg);
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  margin:0px
}
button{
  font-family: 'Roboto', sans-serif;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: orange;
}

// colors
.blue{
  background-color: #4b24ce;
}
.orange{
  background-color: #fd8200;
}

.App{

}

.cardsWrapper{
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.page{
  width: 100%;
}