.card-current-sale {
    background-color: var(--white);
    color: var(--strong);
    border-radius: var(--softRound);
    width: 100%;
   
    box-sizing: border-box;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);

    

    justify-content: space-around;
    &__top {
        display: flex;
    }

    &__image {
       margin-right: 15px;

        img{
            height: 200px;
            width: 150px;
            border-radius: var(--softRound) 0px 0px 0px;
        }
    }

    

    &__title-box {
        border-bottom: 1px solid grey;
    }

    &__title {
        font-weight: bold;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    &__price {
        font-weight: bold;
        margin-bottom: 8px;
    }

    &__details {
    }

    &__details-line {
        margin-top: 8px;
        color: #c4c6d3;
    }

    &__social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 12px;
        &__icon {
            img {
                width: 30px;
            }
        }
    }
}
